@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#account{
  position: relative;
  left: 50px;
  top: 12px;
}

body{
  background-color:#FCFFF0;
}
//  body {
//  	width: 100wh;
//  	height: 90vh;
//  	color: #fff;
//  	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
//  	background-size: 400% 400%;
//  	-webkit-animation: Gradient 15s ease infinite;
//  	-moz-animation: Gradient 15s ease infinite;
//  	animation: Gradient 15s ease infinite;
// }

//box for login
 .form{
    background: #eceeee;
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 257px;
    margin: 20px auto 0;
    width: 298px;
 }

//box for user create
 .sign{
   background: #eceeee;
   border: 1px solid #42464b;
   border-radius: 6px;
   height: 515px;
   margin: 20px auto 0;
   width: 298px;
 }

 #button:hover{
   opacity: 0.5;
 }

 #pass:focus{
   box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
   outline: 0;
 }

 #user:focus{
   box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
  outline: 0;
 }

 #user{
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 39px;
    margin: 31px 0 0 29px;
    padding-left: 37px;
    transition: box-shadow 0.3s;
    width: 240px;
 }

 #pass{
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 39px;
    margin: 31px 0 0 29px;
    padding-left: 37px;
    transition: box-shadow 0.3s;
    width: 240px;
 }

 #button{
   width: 240px;
    height: 35px;
    display: block;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 0px #37a69b;
    padding-top: 6px;
    margin: 29px 0 0 29px;
    position: relative;
    cursor: pointer;
    border: none;
    background-color: #37a69b;
    background-image: linear-gradient(top,#3db0a6,#3111);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    top:3px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
 }
//link for new account
 #new{
   position: relative;
   left: 100px;
   top: 50px;
 }
//navigation styling
nav{
  width: 100%;
  height: 50px;
  background-color: #78AB46;
}

nav a{
  display: block;
  float: left;

  font-family: sans-serif;
  font-size: 15px;
  color: white;


  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  text-decoration: none;
}

nav a:hover{
  font-family: sans-serif;
  font-size: 15px;
  color: white;
  background-color: #9CBA7F;
  text-decoration: none;
}

#logo{
  font-family: 'Hind', sans-serif;
  font-size: 30px;
  letter-spacing: -2px;
  text-shadow: 1px 1px 2px #c4c4c4;

  padding-left: 20px;
  padding-right: 40px;
  margin-right: 10px;
  margin-top: -20px;
}

#sub{
  white-space: nowrap;
    top: 0px;
    border-radius: 4px;
    position: relative;
    border: none;
    background: none;
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: 0.1s all ease;
    font-size: 16px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 0px 0px 0px #B8B8B8;
}
